html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  min-width: 320px;
  background: #020817;
  color: #f8fafc;
}

button,
input,
textarea,
select {
  font-family: inherit;
}